

		<div id="card" class="weater">
			
			<div class="city-selected" style="background:#ccc;border-bottom:2px solid #444;">
					<img src="images/logo_01.png" style="border:0;" height="50px" alt="mGenAfrica">
			</div>

			<div class="days">
				<div class="row row-no-gutter">
					<div class="col-xs-12" style="background:#dce7d4;border-bottom:1px solid #444;padding-left:10px;font-weight:bold;">Welcome!!</div>
					<div class="col-xs-6" style="cursor:pointer;">					
						<a  href="#share" style="text-decoration:none;color:inherit;">
							<div class="day" style="color:#FF5252;">
								<i class="fas fa-trophy" style="font-size:50px;"></i>
								<h5 style="font-weight:bold;"> Competition</h5>
							</div>
						</a>
					</div>
					
					<div class="col-xs-6" style="cursor:pointer;">					
						<a  href="#quiz" style="text-decoration:none;color:inherit;">
							<div class="day" style="color:#FFC107;">
								<i class="far fa-lightbulb" style="font-size:50px;"></i>
								<h5  style="font-weight:bold;">Quiz</h5>
							</div>
						</a>
					</div>

					<div class="col-xs-6" style="cursor:pointer;">
						<a href="#knowledgeCorner" style="text-decoration:none;color:inherit;">
						<div class="col-md-12" style="cursor:pointer;">
							<div class="day" style="color:#fd7e14;">
								<i class="fas fa-stethoscope" style="font-size:50px;"></i>
								<h5 style="font-weight:bold;">Knowledge Corner</h5>
							</div>
						</div>
						</a>
					</div>						
					
					<div class="col-xs-6" style="cursor:pointer;">
						<a href="#chatMeetings" style="text-decoration:none;color:inherit;">
						<div class="day" style="color:#8BC34A;">
							<i class="far fa-comments" style="font-size:50px;"></i>
							<h5 style="font-weight:bold;">Live Chat</h5>
						</div>
						</a>
					</div>					
					
					<div class="col-xs-6" style="cursor:pointer;">					
						<a  href="#/trainings" style="text-decoration:none;color:inherit;">
							<div class="day" style="color:#337ab7;">
								<i class="fas fa-graduation-cap" style="font-size:50px;"></i>
								<h5 style="font-weight:bold;">Training Opportunities</h5>
							</div>
						</a>
					</div>
					
					<!--div class="col-xs-6" style="cursor:pointer;">
						<a style="text-decoration:none;color:inherit;"  href="#settings" >
						<div class="day">
							<i class="far fa-calendar-alt" style="font-size:50px;"></i>
							<h5 style="font-weight:bold;">Calendar</h5>
						</div>
						</a>						
					</div-->

				</div>
			</div>
		</div>