<div class="col-md-12 column">
		<nav id="myNavbar" class="navbar navbar-default navbar-inverse navbar-fixed-top" style="background-color:#fd7e14;border-color:#fd7e14;">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="container" style="margin-left:0px;">
				<div class="navbar-header">
					<a class="navbar-brand" ng-click="backButton()" style="cursor:pointer;color:#fff;font-size:18px;font-weight:bold;">
							<div class="sync-label" style="white-space:nowrap;overflow:hidden;text-overflow:ellipsis;display:inline-block;width:{{myPage.dbnameWidth}}px;"><i class="fas fa-arrow-left" style="font-size:16px;"></i>&nbsp;&nbsp;&nbsp;{{knowledgeCornerCategory}}</div>
					</a>
				</div>
			</div>
		</nav>
</div>
		
		
		
		
<div class="col-md-12" style="display:inline-block;margin-top: 48px;width:100%;">
	 <div class="checkAll" style="padding:10px;background-color:#eee;">
		 <label style="margin-right:15px;font-weight:bold;font-size:15px;" class="btn btn-primary btn-xs"> Details</label>		 
	 </div>
</div>
<!--div class="col-md-12 column simpleMargin" style="padding:0;"-->

<div  ng-show="!myPage.displaySpinner"  class="col-md-12 column" style="padding:0;margin-top:51px;">
<ul class="list-group" style="margin-bottom:0;">
		<li class="list-group-item" ng-repeat="item in myPage.CatItems" style="padding:14px 14px;margin-bottom:0;border:0;" >
				<div style="width:{{myPage.dbnameWidth}}px;overflow-wrap:break-word;font-weight:normal;" ng-bind-html=item.opportunity></div>
		</li>
</ul>
</div>

<!---- Spinner / Loader     ---->

<center id="loading" ng-show="myPage.displaySpinner" style="margin-top:140px;">
		<div>
				<div class="loader"></div>	
				<strong>Loading...</strong>
		</div>
</center>

